---

---
$primary-color-name: unquote("{{ site.theme.color.primary }}");
$secondary-color-name: unquote("{{ site.theme.color.secondary }}");
$theme-style-name: "{{ site.theme.style }}";

@import "normalize";
@import "code-highlight";
@import "material-color";

@import "mixins";
@import "fonts";
@import "colors";
@import "class";
@import "base";
