---

---
$primary-color-name: Indigo;
$secondary-color-name: Deep Purple;
$theme-style-name: 'light';

@import "normalize";
@import "code-highlight";
@import "material-color";

@import "mixins";
@import "fonts";
@import "colors";
@import "class";
@import "base";
