@import url(
'https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700|Nanum+Gothic:400,700,800&subset=korean');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$font-family-sans-serif: 'Nanum Gothic', sans-serif;
$font-family-monospace: 'Nanum Gothic Coding', monospace !important;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

body {
  font-family: $font-family-sans-serif;
  font-size: .9rem;
  font-weight: $font-weight-normal;
}
code {
  font-family: $font-family-monospace;
  font-weight: $font-weight-normal;
}
strong { font-weight: $font-weight-bold; }
h1 {
  font-weight: $font-weight-extra-bold;
  font-size: 1.5rem;
}
sub-title {
  font-weight: $font-weight-extra-bold;
  font-size: .9rem;
  letter-spacing: .05rem;
}
ul {
  li {
    a.active {
      font-weight: $font-weight-bold;
    }
  }
}
